<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/auth.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <% if (errorMessage) { %>
            <div class="user-message user-message--error"><%= errorMessage %></div>
            <% } %>
        <form class="login-form" action="/login" method="POST">
            <input type="hidden" value="<%= csrfToken %>" name="_csrf">
            <h1>تسجيل الدخول</h1>
            
            <div class="form-control">
                <label for="email">البريد الإلكتروني</label>
                <input type="email" name="email" id="email" placeholder="example@email.com" >
            </div>
            
            <div class="form-control">
                <label for="password">كلمة المرور</label>
                <input type="password" name="password" id="password" placeholder="********" >
            </div>
            
            <button class="btn btn-primary" type="submit">دخول</button>
            <div class="reset">
                <a href="/reset">Reset Password</a>
            </div>
        </form>
    </main>
    
<%- include('../includes/end.ejs') %>